<div class="application-details container-fluid bg-light my-4 rounded p-4" *ngIf="isloaded">
  <h3 class="application-details-header">Add Loan details</h3>
  <div *ngIf="applicationDetailsForm.errors?.range" class="alert alert-danger">
    *Loan Amount greater than Estimated Property Amount
  </div>
  <form [formGroup]="applicationDetailsForm">
    <div class="form-group">
      <label for="property_location">Property Location</label>
      <input type="text" name="property_location" id="property_location" placeholder="Enter property location"
        class="form-control" formControlName="property_location" />
      <div *ngIf="
          applicationDetailsForm.controls.property_location.invalid &&
          (applicationDetailsForm.controls.property_location.touched ||
            applicationDetailsForm.controls.property_location.dirty)
        " class="text-danger mt-1">
        <div *ngIf="
            applicationDetailsForm.controls.property_location.errors.required
          ">
          Property Location required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="property_name">Property Name</label>
      <input type="text" name="property_name" id="property_name" placeholder="Enter the Property Name"
        class="form-control" formControlName="property_name" />

      <div *ngIf="
          applicationDetailsForm.controls.property_name.invalid &&
          (applicationDetailsForm.controls.property_name.touched ||
            applicationDetailsForm.controls.property_name.dirty)
        " class="text-danger mt-1">
        <div *ngIf="applicationDetailsForm.controls.property_name.errors.required">
          Property Name required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="estimated_property_amt">Estimated Property Amount</label>
      <input type="text" name="estimated_property_amt" id="estimated_property_amt"
        placeholder="Enter the estimated property amount" class="form-control"
        formControlName="estimated_property_amt" />

      <div *ngIf="
          applicationDetailsForm.controls.estimated_property_amt.invalid &&
          (applicationDetailsForm.controls.estimated_property_amt.touched ||
            applicationDetailsForm.controls.estimated_property_amt.dirty)
        " class="text-danger mt-1">
        <div *ngIf="
            applicationDetailsForm.controls.estimated_property_amt.errors
              .required
          ">
          Property Amount info required
        </div>

        <div *ngIf="
            applicationDetailsForm.controls.estimated_property_amt.errors
              .pattern
          ">
          Only numeric digits allowed
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="loan_amount">Loan Amount</label>
      <input type="number" name="loan_amount" id="loan_amount" min="0"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter the loan amount"
        class="form-control" formControlName="loan_amount" />

      <div *ngIf="
          applicationDetailsForm.controls.loan_amount.invalid &&
          (applicationDetailsForm.controls.loan_amount.touched ||
            applicationDetailsForm.controls.loan_amount.dirty)
        " class="text-danger mt-1">
        <div *ngIf="applicationDetailsForm.controls.loan_amount.errors.required">
          Loan Amount info required
        </div>

        <div *ngIf="applicationDetailsForm.controls.loan_amount.errors.pattern">
          Only numeric digits allowed
        </div>

        <div *ngIf="applicationDetailsForm.controls.loan_amount.errors.max">
          Greater Than Maximum Applicable Loan Amount
        </div>


      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-6 col-6">
        <label for="interest_rate">Interest Rate</label>
       <input type="text" name="interest_rate" id="interest_rate"
          class="form-control" formControlName="interest_rate" />

           <!--
        <div *ngIf="
            applicationDetailsForm.controls.interest_rate.invalid &&
            (applicationDetailsForm.controls.interest_rate.touched ||
              applicationDetailsForm.controls.interest_rate.dirty)
          " class="text-danger mt-1">
          <div *ngIf="
              applicationDetailsForm.controls.interest_rate.errors.required
            ">
            Interest rate info required
          </div>

          <div *ngIf="applicationDetailsForm.controls.interest_rate.errors.pattern">
            Only digits(Upto 2 decimal)
          </div>
        </div> -->
      </div>
      <div class="form-group col-md-6 col-sm-6 col-6">
        <label for="tenure">Tenure</label>
        <input type="text" name="tenure" id="tenure" placeholder="Enter the loan tenure" class="form-control"
          formControlName="tenure" />

        <div *ngIf="
            applicationDetailsForm.controls.tenure.invalid &&
            (applicationDetailsForm.controls.tenure.touched ||
              applicationDetailsForm.controls.tenure.dirty)
          " class="text-danger mt-1">
          <div *ngIf="applicationDetailsForm.controls.tenure.errors.required">
            Tenure required
          </div>

          <div *ngIf="applicationDetailsForm.controls.tenure.errors.pattern">
            Only numeric digits allowed
          </div>
        </div>
      </div>
    </div>
    <div class="form-group text-center mt-4">
      <button class="btn btn-primary btn-lg" [disabled]="applicationDetailsForm.invalid" (click)="checkEmi()">Check EMI</button>
      <span class="col-sm-2"></span>
      <button class="btn btn-success btn-lg" [disabled]="applicationDetailsForm.invalid" (click)="addApplicationDetails()"

      >Submit</button>
    </div>
  </form>

<!-- data-toggle="modal" data-target="#saved" -->

  <div *ngIf=emibool class="card" id="info_card1" style="margin: auto;">
    <div class="card-body">
       <h4 style="text-align: center;">Monthly EMI Amount </h4>
       <h3 style="text-align: center;"> &#x20b9; {{emi.toFixed(0)}} </h3>
    </div>
 </div>

  <div
  class="modal fade"
  id="saved"
  tabindex="-1"
  role="dialog"
  aria-labelledby="savedDetails"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enterRemark">Remarks</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          routerLink="/userDashboard/uploadDocuments"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-success">
        Application Details Saved Successfully
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/userDashboard/uploadDocuments"
          [queryParams]="{ applicationId: applicationdetails.applicationId }"
          data-dismiss="modal"
        >
          Continue...
        </button>
        </div>
    </div>
  </div>
</div>



</div>
