<div class="application-details">
  <h3 class="application-details-header">Add Loan details</h3>
  <form action="">
    <div class="form-group">
      <label for="property_location">Property Location</label>
      <input
        type="text"
        name="property_location"
        id="property_location"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="property_name">Property Name</label>
      <input
        type="text"
        name="property_name"
        id="property_name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="estimated_property_amt">Estimated Property Amount</label>
      <input
        type="text"
        name="estimated_property_amt"
        id="estimated_property_amt"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="loan_amount">Loan Amount</label>
      <input
        type="text"
        name="loan_amount"
        id="loan_amount"
        class="form-control"
      />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-6 col-6">
        <label for="interest_rate">Interest Rate</label>
        <input
          type="text"
          name="interest_rate"
          id="interest_rate"
          class="form-control"
        />
      </div>
      <div class="form-group col-md-6 col-sm-6 col-6">
        <label for="tenure">Tenure</label>
        <input type="text" name="tenure" id="tenure" class="form-control" />
      </div>
    </div>
    <div class="form-row application-docs">
      <div class="form-group col-md-4 col-sm-6">
        <label for="LOA">LOA</label>
        <input type="file" class="form-control-file" id="LOA" name="LOA" />
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="NOC">NOC from Builder</label>
        <input type="file" class="form-control-file" id="NOC" name="NOC" />
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="agreement_to_sale">Agreement to sale</label>
        <input
          type="file"
          class="form-control-file"
          id="agreement_to_sale"
          name="agreement_to_sale"
        />
      </div>
    </div>
    <div class="form-group text-center mt-2">
      <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
  </form>
</div>
