<div class="reg-form">
  <h2 id="reg-form-header" class="mb-4"><i>REGISTER</i></h2>
  <form class="text-center" [formGroup]="userRegisterDetails" (submit)=RegisterUser()>
    <div class="row">
      <div class="form-group col-lg-6 ">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName"
          placeholder="Enter your first name" />

        <div *ngIf="userRegisterDetails.controls.firstName.invalid && userRegisterDetails.controls.firstName.touched"
          class="text-danger mb-2">First Name can't be empty.</div>
      </div>

      <div class="form-group col-lg-6">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"
          placeholder="Enter your last name" />

        <div *ngIf="userRegisterDetails.controls.lastName.invalid && userRegisterDetails.controls.lastName.touched"
          class="text-danger mb-2">Last Name can't be empty.</div>
      </div>
    </div>

      <div class="row ">
      <div class="form-group col-lg-6 ">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" class="form-control" formControlName="email"
          placeholder="Enter your Email" />

        <div *ngIf="userRegisterDetails.controls.email.invalid && userRegisterDetails.controls.email.touched"
          class="text-danger mb-2">Enter a valid Email</div>
      </div>
      <div class="form-group col-lg-6 ">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control" formControlName="phoneNumber"
          placeholder="Enter your phone number" />

      <div *ngIf="userRegisterDetails.controls.phoneNumber.invalid && userRegisterDetails.controls.phoneNumber.touched"
        class="text-danger mb-2">Enter a valid Phone Number</div>
      </div>

    </div>

    <div class="row">
          <div class="form-group col-lg-6">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password"
              placeholder="Set your Password" />
            <div *ngIf="userRegisterDetails.controls.password.invalid && userRegisterDetails.controls.password.touched"
              class="text-danger mb-2">Doesn't match the required pattern.</div>
          </div>
          <div class="form-group col-lg-6">
            <label for="password">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" class="form-control"
              placeholder="Confirm your Password" />
          </div>
    </div>





    <div class="row">
    <div class="form-group col-lg-4">
      <label for="gender">Gender</label>
      <select name="gender" id="gender" class="form-control" formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>

    <div *ngIf="userRegisterDetails.controls.gender.invalid && userRegisterDetails.controls.gender.touched"
      class="text-danger mb-2">Required Field</div>
    </div>

    <div class="form-group col-lg-4">
      <label for="nationality">Nationality</label>
      <input type="text" name="nationality" id="nationality" class="form-control" formControlName="nationality"
        placeholder="Enter your nationality" />

    <div *ngIf="userRegisterDetails.controls.nationality.invalid && userRegisterDetails.controls.nationality.touched"
      class="text-danger mb-2">Required Field</div>
    </div>

    <div class="form-group col-lg-4">
      <label for="dateOfBirth">Date of birth</label>
      <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" formControlName="dateOfBirth"
        placeholder="Choose your date of birth" />

    <div *ngIf="userRegisterDetails.controls.dateOfBirth.invalid && userRegisterDetails.controls.dateOfBirth.touched"
      class="text-danger mb-2">Required Field</div>
    </div>


    </div>

    <div *ngIf="status" class="alert alert-danger">
      <div class="text-danger">You are already registered with us, Please Login with your user details</div>
    </div>

    <div class="row">

    <div class="form-group mt-4 col-lg-12" id="register-button">
      <button type="submit" class="btn btn-primary" style="width: 150px;" data-toggle="modal" data-target="#register"
        [disabled]="userRegisterDetails.invalid">Register</button>
    </div>

    <div class="form-group col-lg-12" id="login-button">
      <div class="mb-2">Already have an account ?</div>
      <button class="btn btn-danger" style="width: 150px;" routerLink="/userLogin">Login</button>
    </div>

  </div>

  </form>

  <!-- Modal -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="enterRemark" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enterRemark">Remarks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div *ngIf="!registrationbool" class="alert alert-primary">
            <div class="spinner-border text-success spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <span class="pl-2"> Please wait your Account is being created</span>
          </div>


          <div *ngIf="registrationbool" class="alert alert-success">
            You Are Succesfully Registered With Us. Please Login With Your Credentials
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="login()" data-dismiss="modal" data-toggle="modal"
              data-target="#status" [disabled]="loginbool">Login</button>
            <!-- <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#status">Submit</button> -->
          </div>
        </div>
      </div>
    </div>

  </div>
