.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.history/0/506df9210003001b10f3ba230b88b86e
.metadata/.plugins/org.eclipse.core.resources/.history/4d/609e0b790003001b10f3ba230b88b86e
.metadata/.plugins/org.eclipse.core.resources/.history/9/b092ff220003001b10f3ba230b88b86e
.metadata/.plugins/org.eclipse.core.resources/.projects/Gladiator_Backend/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Gladiator_Backend/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Gladiator_Backend/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Gladiator_Backend/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Gladiator_Backend/.indexes/e4/b9/db/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jpt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/70979534.index
.metadata/.plugins/org.eclipse.jdt.core/116596647.index
.metadata/.plugins/org.eclipse.jdt.core/181864228.index
.metadata/.plugins/org.eclipse.jdt.core/209679224.index
.metadata/.plugins/org.eclipse.jdt.core/262071790.index
.metadata/.plugins/org.eclipse.jdt.core/264392730.index
.metadata/.plugins/org.eclipse.jdt.core/295641852.index
.metadata/.plugins/org.eclipse.jdt.core/296169218.index
.metadata/.plugins/org.eclipse.jdt.core/304623396.index
.metadata/.plugins/org.eclipse.jdt.core/317068209.index
.metadata/.plugins/org.eclipse.jdt.core/471206772.index
.metadata/.plugins/org.eclipse.jdt.core/533013709.index
.metadata/.plugins/org.eclipse.jdt.core/581647227.index
.metadata/.plugins/org.eclipse.jdt.core/605516007.index
.metadata/.plugins/org.eclipse.jdt.core/654450246.index
.metadata/.plugins/org.eclipse.jdt.core/658381024.index
.metadata/.plugins/org.eclipse.jdt.core/663922005.index
.metadata/.plugins/org.eclipse.jdt.core/706724392.index
.metadata/.plugins/org.eclipse.jdt.core/833672552.index
.metadata/.plugins/org.eclipse.jdt.core/836614720.index
.metadata/.plugins/org.eclipse.jdt.core/905995783.index
.metadata/.plugins/org.eclipse.jdt.core/908721450.index
.metadata/.plugins/org.eclipse.jdt.core/973327999.index
.metadata/.plugins/org.eclipse.jdt.core/1015760375.index
.metadata/.plugins/org.eclipse.jdt.core/1127390768.index
.metadata/.plugins/org.eclipse.jdt.core/1128193536.index
.metadata/.plugins/org.eclipse.jdt.core/1157763609.index
.metadata/.plugins/org.eclipse.jdt.core/1209460222.index
.metadata/.plugins/org.eclipse.jdt.core/1270798865.index
.metadata/.plugins/org.eclipse.jdt.core/1281197710.index
.metadata/.plugins/org.eclipse.jdt.core/1309861234.index
.metadata/.plugins/org.eclipse.jdt.core/1316098301.index
.metadata/.plugins/org.eclipse.jdt.core/1316707154.index
.metadata/.plugins/org.eclipse.jdt.core/1334847956.index
.metadata/.plugins/org.eclipse.jdt.core/1393840636.index
.metadata/.plugins/org.eclipse.jdt.core/1398631125.index
.metadata/.plugins/org.eclipse.jdt.core/1505627254.index
.metadata/.plugins/org.eclipse.jdt.core/1538109911.index
.metadata/.plugins/org.eclipse.jdt.core/1672099835.index
.metadata/.plugins/org.eclipse.jdt.core/1715490414.index
.metadata/.plugins/org.eclipse.jdt.core/1765855673.index
.metadata/.plugins/org.eclipse.jdt.core/1781229638.index
.metadata/.plugins/org.eclipse.jdt.core/1918835580.index
.metadata/.plugins/org.eclipse.jdt.core/2108466169.index
.metadata/.plugins/org.eclipse.jdt.core/2121035202.index
.metadata/.plugins/org.eclipse.jdt.core/2186847506.index
.metadata/.plugins/org.eclipse.jdt.core/2192184509.index
.metadata/.plugins/org.eclipse.jdt.core/2236875686.index
.metadata/.plugins/org.eclipse.jdt.core/2280996734.index
.metadata/.plugins/org.eclipse.jdt.core/2390295706.index
.metadata/.plugins/org.eclipse.jdt.core/2468885566.index
.metadata/.plugins/org.eclipse.jdt.core/2490848237.index
.metadata/.plugins/org.eclipse.jdt.core/2512843540.index
.metadata/.plugins/org.eclipse.jdt.core/2652623189.index
.metadata/.plugins/org.eclipse.jdt.core/2654763826.index
.metadata/.plugins/org.eclipse.jdt.core/2711231419.index
.metadata/.plugins/org.eclipse.jdt.core/2826411666.index
.metadata/.plugins/org.eclipse.jdt.core/2835360557.index
.metadata/.plugins/org.eclipse.jdt.core/2853770685.index
.metadata/.plugins/org.eclipse.jdt.core/2906299164.index
.metadata/.plugins/org.eclipse.jdt.core/2908583134.index
.metadata/.plugins/org.eclipse.jdt.core/2944471384.index
.metadata/.plugins/org.eclipse.jdt.core/2953866118.index
.metadata/.plugins/org.eclipse.jdt.core/3106859009.index
.metadata/.plugins/org.eclipse.jdt.core/3149858334.index
.metadata/.plugins/org.eclipse.jdt.core/3158196357.index
.metadata/.plugins/org.eclipse.jdt.core/3192791236.index
.metadata/.plugins/org.eclipse.jdt.core/3285244802.index
.metadata/.plugins/org.eclipse.jdt.core/3299978409.index
.metadata/.plugins/org.eclipse.jdt.core/3396501314.index
.metadata/.plugins/org.eclipse.jdt.core/3408516581.index
.metadata/.plugins/org.eclipse.jdt.core/3455228316.index
.metadata/.plugins/org.eclipse.jdt.core/3496983571.index
.metadata/.plugins/org.eclipse.jdt.core/3557130111.index
.metadata/.plugins/org.eclipse.jdt.core/3608558158.index
.metadata/.plugins/org.eclipse.jdt.core/3810075119.index
.metadata/.plugins/org.eclipse.jdt.core/3970496494.index
.metadata/.plugins/org.eclipse.jdt.core/3975127709.index
.metadata/.plugins/org.eclipse.jdt.core/4089003313.index
.metadata/.plugins/org.eclipse.jdt.core/4113617107.index
.metadata/.plugins/org.eclipse.jdt.core/4116688958.index
.metadata/.plugins/org.eclipse.jdt.core/4141693586.index
.metadata/.plugins/org.eclipse.jdt.core/4156066619.index
.metadata/.plugins/org.eclipse.jdt.core/4274018841.index
.metadata/.plugins/org.eclipse.jdt.core/4289004037.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.m2e.core/Gladiator_Backend.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/5ef2f290fd2d3e428194f99d92e7f961/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/5ef2f290fd2d3e428194f99d92e7f961/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.jdt/Gladiator_Backend.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.blaze-a8mp9c6_8026/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.blaze-a8mp9c6_8026/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.blaze-a8mp9c6_8026/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.common.project.facet.core/prefs.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
