<div class="cust-details container-fluid bg-light my-4 rounded p-4">
  <h3 class="cust-details-header">Add Customer details</h3>
  <form [formGroup]="customerDetailsForm">
    <div class="form-group">
      <label for="aadhaar">Aadhaar Number</label>
      <input
        type="text"
        id="aadhaar"
        name="aadhaar"
        placeholder="Enter your Aadhaar Number"
        class="form-control"
        formControlName="aadhaar"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.aadhaar.invalid &&
          (customerDetailsForm.controls.aadhaar.touched ||
            customerDetailsForm.controls.aadhaar.dirty)
        "
        class="text-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.required">
          Aadhaar is required
        </div>
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.minlength">
          Aadhaar should be 12 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.maxlength">
          Aadhaar should be 12 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.pattern">
          Only numeric digits allowed
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="PAN">PAN</label>
      <input
        type="text"
        id="PAN"
        name="PAN"
        placeholder="Enter your PAN number"
        class="form-control"
        formControlName="PAN"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.PAN.invalid &&
          (customerDetailsForm.controls.PAN.touched ||
            customerDetailsForm.controls.PAN.dirty)
        "
        class="text-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.PAN.errors.required">
          PAN Information is required
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.minlength">
          PAN number should be 10 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.maxlength">
          PAN number should be 10 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.pattern">
          Only letters and numbers allowed
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="monthly_sal">Monthly Salary</label>
      <input
        type="text"
        id="monthly_sal"
        name="monthly_sal"
        placeholder="Enter your monthly salary"
        class="form-control"
        formControlName="monthly_sal"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.monthly_sal.invalid &&
          (customerDetailsForm.controls.monthly_sal.touched ||
            customerDetailsForm.controls.monthly_sal.dirty)
        "
        class="text-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.monthly_sal.errors.required">
          Salary Information is required
        </div>
        <div *ngIf="customerDetailsForm.controls.monthly_sal.errors.pattern">
          Only digits allowed
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="type_of_employment">Type of Employment</label>
        <input
          type="text"
          id="type_of_employment"
          name="type_of_employment"
          placeholder="Enter Employment type for eg, private/ govt"
          class="form-control"
          formControlName="type_of_employment"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.type_of_employment.invalid &&
            (customerDetailsForm.controls.type_of_employment.touched ||
              customerDetailsForm.controls.type_of_employment.dirty)
          "
          class="text-danger mt-1"
        >
          <div
            *ngIf="
              customerDetailsForm.controls.type_of_employment.errors.required
            "
          >
            Employment Information required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="retirement_age">Retirement Age</label>
        <input
          type="number"
          min="0"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          title="Whole numbers only"
          id="retirement_age"
          name="retirement_age"
          placeholder="Enter your retirement age"
          class="form-control"
          formControlName="retirement_age"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.retirement_age.invalid &&
            (customerDetailsForm.controls.retirement_age.touched ||
              customerDetailsForm.controls.retirement_age.dirty)
          "
          class="text-danger mt-1"
        >
          <div
            *ngIf="customerDetailsForm.controls.retirement_age.errors.required"
          >
            Retirement Age required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="org_type">Organisation Type</label>
        <input
          type="text"
          id="org_type"
          name="org_type"
          placeholder="IT/Education/Financial"
          class="form-control"
          formControlName="org_type"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.org_type.invalid &&
            (customerDetailsForm.controls.org_type.touched ||
              customerDetailsForm.controls.org_type.dirty)
          "
          class="text-danger mt-1"
        >
          <div *ngIf="customerDetailsForm.controls.org_type.errors.required">
            Organisation Type required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="employer_name">Employer Name</label>
        <input
          type="text"
          id="employer_name"
          name="employer_name"
          placeholder="Enter the name of your Employer"
          class="form-control"
          formControlName="employer_name"
        />

        <div
          *ngIf="
            customerDetailsForm.controls.employer_name.invalid &&
            (customerDetailsForm.controls.employer_name.touched ||
              customerDetailsForm.controls.employer_name.dirty)
          "
          class="text-danger mt-1"
        >
          <div
            *ngIf="customerDetailsForm.controls.employer_name.errors.required"
          >
            Employer Name required
          </div>
        </div>
      </div>
    </div>

    <!-- **********************PAN Card Form Control START************************************** -->
    <div class="form-group">
      <label for="pan_card">Upload PAN</label>
      <div
        style="
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-top: -20px;
        "
      >
        <input
          type="file"
          id="pan_card"
          name="pan_card"
          (change)="selectFile($event, 'pan')"
          formControlName="pan_card"
          style="margin-top: 20px"
        />
        <button
          type="button"
          class="btn btn-primary"
          style="margin-top: 20px"
          (click)="upload('pan')"
          [disabled]="!isPanSelected"
        >
          Upload
        </button>
        <span
          *ngIf="isPanUploaded"
          class="ml-2 text-center"
          style="flex-grow: 1; margin-top: 20px"
          ><a [routerLink]="" (click)="viewUploadedDocument('pan')"
            >View uploaded PAN</a
          ></span
        >
      </div>
    </div>

    <!-- *********************PAN card form control END***************************************** -->

    <!-- *********************Voter Id form control START**************************************** -->

    <div class="form-group">
      <label for="voter_id">Upload Voter id</label>
      <div
        style="
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-top: -20px;
        "
      >
        <input
          type="file"
          id="voter_id"
          name="voter_id"
          (change)="selectFile($event, 'voter_id')"
          formControlName="voter_id"
          style="margin-top: 20px"
        />
        <button
          type="button"
          class="btn btn-primary"
          style="margin-top: 20px"
          (click)="upload('voter_id')"
          [disabled]="!isVoterIdSelected"
        >
          Upload
        </button>
        <span
          *ngIf="isVoterIdUploaded"
          class="ml-2 text-center"
          style="flex-grow: 1; margin-top: 20px"
          ><a [routerLink]="" (click)="viewUploadedDocument('voter_id')"
            >View Uploaded Voter ID</a
          ></span
        >
      </div>
    </div>

    <!-- *******************Voter Id Form Control END******************************** -->

    <!-- ****************Salary slip Form Control START****************************** -->

    <div class="form-group">
      <label for="salary_slip">Upload Salary Slip</label>
      <div
        style="
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-top: -20px;
        "
      >
        <input
          type="file"
          id="salary_slip"
          name="salary_slip"
          (change)="selectFile($event, 'salary_slip')"
          formControlName="salary_slip"
          style="margin-top: 20px"
        />
        <button
          type="button"
          class="btn btn-primary"
          style="margin-top: 20px"
          (click)="upload('salary_slip')"
          [disabled]="!isSalarySlipSelected"
        >
          Upload
        </button>
        <span
          *ngIf="isSalarySlipUploaded"
          class="ml-2 text-center"
          style="flex-grow: 1; margin-top: 20px"
          ><a [routerLink]="" (click)="viewUploadedDocument('salary_slip')"
            >View uploaded salary slip</a
          ></span
        >
      </div>
    </div>

    <!-- ********************Salary Slip Form Control END***************************** -->

    <div class="form-group text-center mt-4">
      <button
        class="btn btn-success btn-lg "
        [disabled]="
          customerDetailsForm.invalid ||
          !isPanUploaded ||
          !isVoterIdUploaded ||
          !isSalarySlipUploaded
        "
        (click)="addCustomerDetails()"
        data-toggle="modal" data-target="#saved"
      >
        <!-- routerLink="/userDashboard/applicationDetails"
      -->

        Submit
      </button>
    </div>
  </form>

  <div
    class="modal fade"
    id="saved"
    tabindex="-1"
    role="dialog"
    aria-labelledby="savedDetails"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enterRemark">Remarks</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            routerLink="/userDashboard/applicationDetails"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="!detailsSaved" class="modal-body">
          <div class="spinner-border text-success spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Processing
        </div>
        <div *ngIf="detailsSaved" class="modal-body text-success">
          Details Saved Successfully
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success"
            routerLink="/userDashboard/applicationDetails"
            data-dismiss="modal"
          >
            Continue...
          </button>
          </div>
      </div>
    </div>
  </div>

</div>
