<div class="cust-details">
  <h3 class="cust-details-header">Add details</h3>
  <form
    [formGroup]="customerDetailsForm"
    (submit)=addCustomerDetails()
  >
    <div class="form-group">
      <label for="aadhaar">Aadhaar Number</label>
      <input
        type="text"
        id="aadhaar"
        name="aadhaar"
        class="form-control"
        formControlName="aadhaar"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.aadhaar.invalid &&
          (customerDetailsForm.controls.aadhaar.touched ||
            customerDetailsForm.controls.aadhaar.dirty)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.required">
          Aadhaar is required
        </div>
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.minlength">
          Aadhaar should be 12 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.aadhaar.errors.pattern">
          Only numeric digits allowed
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="PAN">PAN</label>
      <input
        type="text"
        id="PAN"
        name="PAN"
        class="form-control"
        formControlName="PAN"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.PAN.invalid &&
          (customerDetailsForm.controls.PAN.touched ||
            customerDetailsForm.controls.PAN.dirty)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.PAN.errors.required">
          PAN Information is required
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.minlength">
          PAN number should be 10 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.maxlength">
          PAN number should be 10 digits long
        </div>
        <div *ngIf="customerDetailsForm.controls.PAN.errors.pattern">
          Only letters and numbers allowed
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="monthly_sal">Monthly Salary</label>
      <input
        type="text"
        id="monthly_sal"
        name="monthly_sal"
        class="form-control"
        formControlName="monthly_sal"
      />
      <div
        *ngIf="
          customerDetailsForm.controls.monthly_sal.invalid &&
          (customerDetailsForm.controls.monthly_sal.touched ||
            customerDetailsForm.controls.monthly_sal.dirty)
        "
        class="alert alert-danger mt-1"
      >
        <div *ngIf="customerDetailsForm.controls.monthly_sal.errors.required">
          Salary Information is required
        </div>
        <div *ngIf="customerDetailsForm.controls.monthly_sal.errors.pattern">
          Only digits allowed
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="type_of_employment">Type of Employment</label>
        <input
          type="text"
          id="type_of_employment"
          name="type_of_employment"
          class="form-control"
          formControlName="type_of_employment"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.type_of_employment.invalid &&
            (customerDetailsForm.controls.type_of_employment.touched ||
              customerDetailsForm.controls.type_of_employment.dirty)
          "
          class="alert alert-danger mt-1"
        >
          <div
            *ngIf="
              customerDetailsForm.controls.type_of_employment.errors.required
            "
          >
            Employment Information required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="retirement_age">Retirement Age</label>
        <input
          type="number"
          id="retirement_age"
          name="retirement_age"
          class="form-control"
          formControlName="retirement_age"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.retirement_age.invalid &&
            (customerDetailsForm.controls.retirement_age.touched ||
              customerDetailsForm.controls.retirement_age.dirty)
          "
          class="alert alert-danger mt-1"
        >
          <div
            *ngIf="customerDetailsForm.controls.retirement_age.errors.required"
          >
            Retirement Age required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 col-sm-12">
        <label for="org_type">Organisation Type</label>
        <input
          type="text"
          id="org_type"
          name="org_type"
          class="form-control"
          formControlName="org_type"
        />
        <div
          *ngIf="
            customerDetailsForm.controls.org_type.invalid &&
            (customerDetailsForm.controls.org_type.touched ||
              customerDetailsForm.controls.org_type.dirty)
          "
          class="alert alert-danger mt-1"
        >
          <div *ngIf="customerDetailsForm.controls.org_type.errors.required">
            Organisation Type required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 col-sm-12">
        <label for="employer_name">Employer Name</label>
        <input
          type="text"
          id="employer_name"
          name="employer_name"
          class="form-control"
          formControlName="employer_name"
        />

        <div
          *ngIf="
            customerDetailsForm.controls.employer_name.invalid &&
            (customerDetailsForm.controls.employer_name.touched ||
              customerDetailsForm.controls.employer_name.dirty)
          "
          class="alert alert-danger mt-1"
        >
          <div
            *ngIf="customerDetailsForm.controls.employer_name.errors.required"
          >
            Employer Name required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="pan_card">Upload PAN</label>
        <input
          type="file"
          class="form-control-file"
          id="pan_card"
          name="pan_card"
          formControlName="pan_card"
        />
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="voter_id">Voter Id</label>
        <input
          type="file"
          class="form-control-file"
          id="voter_id"
          name="voter_id"
          formControlName="voter_id"
        />
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="salary_slip">Salary Slip</label>
        <input
          type="file"
          class="form-control-file"
          id="salary_slip"
          name="salary_slip"
          formControlName="salary_slip"
        />
      </div>
    </div>
    <div class="form-group text-center mt-2">
      <button  type="submit"
      class="btn btn-primary"
      [disabled]="customerDetailsForm.invalid">
      
      <!-- routerLink="/userDashboard/applicationDetails"
      -->
       
      Submit
      </button>
    </div>
  </form>
</div>
