<div class="row featurette mb-3" id="EMI_Div">

   <div class="col-md-7">

      <div class="card" id="info_card1" style="margin: auto;">
         <div class="card-body">
            <h4 style="text-align: center;">Monthly EMI Amount </h4>
            <h3 style="text-align: center;"> &#x20b9; {{emi.toFixed(0) | number}} </h3>
         </div>
      </div>

      <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
         [options]="chartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag" [oneToOne]="true"
         style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>

      <div class="card" id="info_card" style="margin: auto;">
         <div class="card-body">
            <h4 style="text-align: center;">Total Payable Amount </h4>
            <h3 style="text-align: center;"> &#x20b9; {{(this.principal+this.interest).toFixed(0) | number}} </h3>
         </div>
      </div>


   </div>




   <div class="col-md-4 d-flex align-items-center justify-content-center " id="emi_calc">

      <div class="card text-white bg-info text-center" style="width: 450px;">
         <form>
            <div class="card-header " style="text-align: center;">
               <h3> EMI Calcuator</h3>
            </div>

            <div class="card-body">
               <div class="form-group">
                  <label for="loan_amount">Loan Amount (&#x20b9;)</label>
                  <input type="number" class="form-control" id="loan_amount" [(ngModel)]="principal"
                     [ngModelOptions]="{standalone: true}" placeholder="Enter loan amount:">
               </div>

               <div class="form-group">
                  <label for="tenure">Rate of Interest (% p.a.) </label>
                  <input type="number" class="form-control" id="interest" [(ngModel)]="roi"
                     [ngModelOptions]="{standalone: true}" placeholder="Enter Interest:">
               </div>

               <div class="form-group">
                  <label for="tenure">Enter Tenure (In Yrs) </label>
                  <input type="number" class="form-control" id="tenure" [(ngModel)]="tenure"
                     [ngModelOptions]="{standalone: true}" placeholder="Enter Interest:">
               </div>
               <button type="submit" class="btn btn-primary" (click)="updateChart()">Calculate EMI</button>
               <span></span>
               <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#viewEmi"
                  (click)="updateEmi()">View EMI Details</button>
            </div>
         </form>

      </div>

   </div>

   <div class="modal fade" id="viewEmi" tabindex="-1" role="dialog" aria-labelledby="savedDetails" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="appDetails">Emi Details</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body text-success">

               <div *ngIf="emibool">
                  <div class="table-responsive">
                     <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                           <tr class="d-flex">
                              <th class="col-2">Opening Balance</th>

                              <th class="col-2">Payment Date</th>

                              <th class="col-2">Principal</th>

                              <th class="col-2">Interest</th>

                              <th class="col-2">EMI Amount</th>

                              <th class="col-2">Closing Balance</th>

                           </tr>
                        </thead>
                        <tbody>
                           <tr class="d-flex" *ngFor="let emi of emidetails">


                              <td class="col-2">&#x20b9; {{ emi.beginningBalance }}</td>

                              <td class="col-2">{{ emi.date | date: "dd-MMM-yyyy" }}</td>

                              <td class="col-2">&#x20b9; {{ emi.principal }}</td>

                              <td class="col-2">&#x20b9; {{ emi.interest }}</td>

                              <td class="col-2">&#x20b9;{{ emi.emi }}</td>

                              <td class="col-2">&#x20b9; {{ emi.endingBalance }}</td>

                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
      <div class="col-md-1"></div>

   </div>