<section id="account-details" *ngIf="accountExists">
  <header>
    <h4 class="mt-5 mb-3">Your Account details:</h4>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr class="d-flex">
        <th style="border-bottom: 0" class="col-8">Account Number</th>
        <th style="border-bottom: 0" class="col-4">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td class="col-8">1234567</td>
        <td class="col-4">34000</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="account-details-small-screen" *ngIf="accountExists">
  <header>
    <h4 class="mt-5 mb-3">Your Account details:</h4>
  </header>

  <table class="table table-bordered">
    <tr>
      <th>Account Number</th>
    </tr>
    <tr>
      <td>1234567</td>
    </tr>
    <tr>
      <th>Balance</th>
    </tr>
    <tr>
      <td>34000</td>
    </tr>
  </table>
</section>
<section id="pending-applications" *ngIf="applications.length > 0">
  <header class="mt-5 mb-3">
    <h4>Pending Applications</h4>
  </header>

  <table class="table table-bordered">
    <thead>
      <tr class="d-flex">
        <th class="col-8">Application Id</th>
        <th class="col-4">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let application of applications">
        <td class="col-8">
          <a href="#" style="text-decoration: underline">{{
            application.application_id
          }}</a>
        </td>
        <td class="col-4">{{ application.loan_status }}</td>
      </tr>
    </tbody>
  </table>
</section>
<div id="apply-loan-button" class="text-center">
  <button class="btn btn-primary" routerLink="../customerDetails">
    Apply for Another Loan
  </button>
</div>
