<header class="headings">
  <h2>Welcome {{name | titlecase}}</h2>
</header>
<section
  id="account-details"
  *ngIf="(accountExists && (!isFirstTimeUser) && isLoaded)"
>
  <header>
    <h4 class="mt-5 mb-3">Your Account details:</h4>
  </header>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th style="border-bottom: 0" class="col-8">Account Number</th>
        <th style="border-bottom: 0" class="col-4">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td class="col-8">{{account.accountNo}}</td>
        <td class="col-4">{{account.balance}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section
  id="account-details-small-screen"
  *ngIf="(accountExists && !isFirstTimeUser && isLoaded)"
>
  <header>
    <h4 class="mt-5 mb-3">Your Account details:</h4>
  </header>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr class="d-flex">
        <th style="border-bottom: 0" class="col-8">Account Number</th>
        <th style="border-bottom: 0" class="col-4">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex">
        <td class="col-8">{{account.accountNo}}</td>
        <td class="col-4">{{account.balance}}</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="pending-applications" *ngIf="applications.length > 0">
  <header class="mt-5 mb-3">
    <h4>Application Status</h4>
  </header>

  <table class="table table-bordered table-hover">
   <thead class="thead-dark">
      <tr class="d-flex">
        <th class="col-sm-2">Application Id</th>

        <th class="col-2">Property Location</th>

        <th class="col-2">Loan Amount</th>

        <th class="col-2">Application Date</th>

        <th class="col-2">Status</th>

        <th class="col-2">Application Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let application of applications" 
      [ngClass]="{'table-warning': (application.loanStatus == 'Pending') ? true : false,
                  'table-danger':  (application.loanStatus == 'Rejected') ? true : false ,
                  'table-success':  (application.loanStatus == 'Approved') ? true : false }">
      
          <td class="col-2">{{ application.applicationId }}</td>

          <td class="col-2">{{ application.propertyLocation }}</td>

          <td class="col-2">{{ application.loanAmt }}</td>

          <td class="col-2">{{ application.applDate | date: "dd/MM/yyyy" }}</td>

          <td class="col-2">{{ application.loanStatus }}</td>

          <td class="col-2">
            <button class="btn btn-primary" [routerLink]="['../viewApplicationDetails']"
            [queryParams]="{ application_id: application.applicationId }"> 
              View Application Details
            </button> 
          </td>
          
      </tr>

    </tbody>

  </table>
</section>
<div id="apply-loan-button" class="text-center" *ngIf="!isFirstTimeUser">
  <button class="btn btn-primary" routerLink="../applicationDetails">
    Apply for a Loan
  </button>
</div>

<div id="apply-loan-button" class="text-center mt-5" *ngIf="isFirstTimeUser">
  <h4 class="mb-5">Apply for your first loan today!</h4>
  <button class="btn btn-primary" routerLink="../customerDetails">
    Click here
  </button>
</div>
