<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 d-none d-md-block image-container">

      </div>
      <div class="col-lg-6 col-md-6 form-container">
        <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
          <div class="logo mb-3">
            <img src="../../../assets/images/logo2.png" alt="Logo">
          </div>
          <div class="heading mb-4">
            <h4>Admin Login</h4>
          </div>
          <form>
            <div class="form-input">
              <span><i class="fa fa-user fa-lg"></i></span>
              <input type="text" placeholder="Username" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-lock fa-lg"></i></span>
              <input type="password" placeholder="Password" required>
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
