<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav" aria-controls="myNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNav">
      <div class="container-fluid">
        <div class="row align-item-center">

          <!-- side nav  -->

          <div class="sidebar col-lg-3 col-md-4 fixed-top">

            <a type="button" data-toggle="modal" data-target="#logOut" href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border"><img
                src="../../../assets/images/logo2.png" alt="Logo" class="logo"><span class="pl-2"> Financing Dreams</span></a>
            <div class="bottom-border pb-3 d-flex justify-content-center align-items-center">
              <img src="../../../assets/images/AdminIcon.png" alt="Profile-Pic" width="50" class="rounded-circle mr-3">
              <span class="text-light">{{username}}</span>
            </div>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item ">
                <a href="#" class="nav-link text-white  p-3 mb-2 "
                  (click)="highlightDash=true ; highlightProfile=false ; highlightApp=false; navTitle='dashboard'"
                  [class.current]="highlightDash" routerLink="/adminDashboard/adminHome"><i
                    class="fa fa-home text-light fa-lg mr-3"></i>Dashboard</a>
              </li>
              <li class="nav-item ">
                <a href="#" class="nav-link text-white  p-3 mb-2 sidebar-link"
                  (click)="highlightProfile=true ; highlightDash=false ; highlightApp=false; navTitle='profile'"
                  [class.current]="highlightProfile" routerLink="/adminDashboard/adminProfile"><i
                    class="fa fa-user text-light fa-lg mr-3"></i>Profile</a>
              </li>
              <li class="nav-item ">
                <a href="#" class="nav-link text-white  p-3 mb-2 sidebar-link"
                  (click)="highlightApp=true ; highlightProfile=false ; highlightDash=false; navTitle='Applications'"
                  [class.current]="highlightApp" routerLink="/adminDashboard/adminApplications"><i
                    class="fa fa-id-card text-light fa-lg mr-3"></i>View Applications</a>
              </li>

            </ul>
          </div>

          <!-- top Nav -->
          <div class="col-lg-9 col-md-8 ml-auto fixed-top top-navbar">
            <div class="row align-item-center bg-dark py-2">
              <div class="col-md-8">
                <h4 class="text-light text-uppercase mb-1">{{navTitle}}</h4>
              </div>
              <div class="col-md-4 ml-auto text-right signOut">
                <a routerLink="/adminLogin" routerLinkActive="router-link-active"
                  class="fa fa-sign-out text-danger fa-lg" (click)="signout()">Sign out</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End of Navbar -->

  <div class="container-fluid">
    <div class="row d-flex justify-content-around mt-5">
      <div class="col-lg-3 col-md-4 col-sm-1"></div>
      <div class="col-lg-9 col-md-8 col-sm-11 ml-auto">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logOut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-between">
          <div></div>
          <div>
          <h4 class="modal-title mx-auto" id="myModalLabel" style="offset: 10px 10px;">Sign Out?</h4>
        </div>
        <div>
          <button type="button" class="close text-danger ml-0 " data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        </div>
        <div class="modal-body d-flex flex-column align-items-center">

          <div>
            Do you want to Sign out ?
          </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" style="width: 100px;" data-dismiss="modal">No</button>

            <button class="btn btn-danger" data-dismiss="modal" routerLink="/#">Sign Out</button>

        </div>
      </div>
    </div>
  </div>


</body>

</html>
