<div class="table-responsive-lg ">
<table class="table mx-4 p-2 align-item-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Customer-Id</th>
      <th scope="col">Name</th>
      <th scope="col">Loan Amount</th>
      <th scope="col">ROI</th>
      <th scope="col">Tenure</th>
      <th scope="col">Employee Type</th>
      <th scope="col">Verification</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12123</td>
      <td>Axel</td>
      <td>200000</td>
      <td>5%</td>
      <td>2</td>
      <td>Full-time</td>
      <td><button class="btn btn-info btn-sm my-1">View Details</button><button class="btn btn-danger btn-sm ml-2 my-1">Reject</button></td>
    </tr>
  </tbody>
</table>
</div>
