<header class="mb-4" id="view-cust-details-header">
  <h4>Your profile details:</h4>
  <button class="btn btn-danger">Edit</button>
</header>
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <td>Tanuj</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>tans.c2@gmail.com</td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td>8787775484</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>Male</td>
  </tr>

  <tr>
    <th>Nationality</th>
    <td>Indian</td>
  </tr>

  <tr>
    <th>Date of birth</th>
    <td>02/05/1997</td>
  </tr>

  <tr>
    <th>Aadhaar number</th>
    <td>47309891</td>
  </tr>

  <tr>
    <th>PAN</th>
    <td>xxxxxxxxxx</td>
  </tr>

  <tr>
    <th>Monthly Salary</th>
    <td>30000</td>
  </tr>

  <tr>
    <th>Type of employment</th>
    <td>Private</td>
  </tr>

  <tr>
    <th>Retirement Age</th>
    <td>60</td>
  </tr>

  <tr>
    <th>Organisation type</th>
    <td>IT</td>
  </tr>

  <tr>
    <th>Employer Name</th>
    <td>LTI</td>
  </tr>
</table>
