<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a href="#" class="navbar-brand">Financing Dreams</a>
  <!-- <a href="#" class="navbar-brand">
    <img
      src="../../../assets/images/logo2.png"
      alt=""
      width="50"
      height="50"
      loading="lazy"
    />
  </a> -->
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Pending applications</a>
      </li>
    </ul>
    <button class="btn btn-danger ml-auto">Sign Out</button>
  </div>
</nav>

<div class="container">
  <main>
    <header class="headings">
      <h2>Welcome Tim!</h2>
    </header>
    <section id="account-details">
      <header>
        <h4 class="mt-5 mb-3">Your Account details:</h4>
      </header>

      <table class="table table-bordered">
        <thead>
          <tr class="d-flex">
            <th style="border-bottom: 0" class="col-8">Account Number</th>
            <th style="border-bottom: 0" class="col-4">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-8">1234567</td>
            <td class="col-4">34000</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="account-details-small-screen">
      <header>
        <h4 class="mt-5 mb-3">Your Account details:</h4>
      </header>

      <table class="table table-bordered">
        <tr>
          <th>Account Number</th>
        </tr>
        <tr>
          <td>1234567</td>
        </tr>
        <tr>
          <th>Balance</th>
        </tr>
        <tr>
          <td>34000</td>
        </tr>
      </table>
    </section>
    <section id="pending-applications">
      <header class="mt-5 mb-3">
        <h4>Pending Applications</h4>
      </header>

      <table class="table table-bordered">
        <thead>
          <tr class="d-flex">
            <th class="col-8">Application Id</th>
            <th class="col-4">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-8">
              <a href="#" style="text-decoration: underline">3451678345</a>
            </td>
            <td class="col-4">Pending</td>
          </tr>
        </tbody>
      </table>
    </section>
    <div id="apply-loan-button" class="text-center">
      <button class="btn btn-primary">Apply for Another Loan</button>
    </div>
  </main>
</div>
