
<div class="row featurette " id="documents">
  <div class="col-md-5">
    <img src="../../assets/images/docs.png" height="300" width="450" style="box-shadow: 0 0 8px 8px white inset;">
  </div>
  <div class="col-md-7 d-flex align-items-center">

      <div class="col-lg-8 align-items-center">
        <h4>
        <ul>
          <li>PAN card</li>
          <li>Voter ID</li>
          <li>Salary Slip</li>
          <li>LOA</li>
          <li>NOC from Builder</li>
          <li>Agreement To Sale</li>
        </ul>
      </h4>
      </div>
          <h2 class="featurette-heading text-center mr-4 pl-2 pr-4" style="border-right: 3px solid rgb(176, 189, 176);
      height: 90px;">Documents Required</h2>
  </div>

</div>
