<div class="container">
  <div class="panel-body inf-content">
      <div class="row">
          <div class="col-md-4">
              <img alt="" style="width:600px;" title="Admin" class="img-thumbnail" src="../../../assets/images/AdminIcon.png" alt="Admin Username">
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <strong>Hello Blaze</strong><br>
            </div>
              <div class="table-responsive">
              <table class="table table-hover mt-2">
                <caption>Admin Profile</caption>
                  <tbody>
                      <tr>
                          <td>
                              <strong>
                                  <span class="fa fa-star fa-lg"></span>
                                   Username
                              </strong>
                          </td>
                          <td class="text-primary">
                              123456789
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <strong>
                                  <span class="fa fa-user fa-lg"></span>
                                   Name
                              </strong>
                          </td>
                          <td class="text-primary">
                               Blaze
                          </td>
                      </tr>

                      <tr>
                          <td>
                              <strong>
                                  <span class="fa fa-at fa-lg"></span>
                                   Email
                              </strong>
                          </td>
                          <td class="text-primary">
                               ab@gmail.com
                          </td>
                      </tr>


                      <tr>
                          <td>
                              <strong>
                                  <span class="fa fa-eye fa-lg"></span>
                                   Role
                              </strong>
                          </td>
                          <td class="text-primary">
                              Admin
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
  </div>
