
<div class="row featurette " id="About_Us">
    <div class="col-md-7 d-flex align-items-center">
        <h2 class="featurette-heading text-center mr-4 pl-2 pr-4" style="border-left: 3px solid rgb(176, 189, 176);
        height: 90px;">About Us</h2>
        <p class="lead" align="justify"> We provide a hassle-free user-friendly online platform
            to our users through which they can apply for loans based on their own
            requirements and keep a track of their status and record during the entire
            process of their loan approval. We also provide features such as eligibility and
            EMI calculators through which users can get a rough estimate of the EMI and the
            loan amount, they are eligible for.</p>
    </div>
    <div class="col-md-5">
        <img src="../../assets/images/aboutUs.png" height="400" width="500" style="box-shadow: 0 0 8px 8px white inset; border-radius: 80%;">
    </div>
</div>
