<div class="container" id="About_Us">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">About Us</h2>
            <p class="lead"> We provide a hassle-free user-friendly online platform
                to our users through which they can apply for loans based on their own
                requirements and keep a track of their status and record during the entire
                process of their loan approval. We also provide features such as eligibility and
                EMI calculators through which users can get a rough estimate of the EMI and the
                loan amount, they are eligible for.</p>
        </div>
        <div class="col-md-5">
            <img src="../../assets/images/4-sq.jpg" height="500" width="500">
        </div>
    </div>
</div>