<div class="container-fluid">

  <div class="row">


    <!-- Login Form  -->
    <div class="col-lg-6 col-md-6 form-container">


      <div *ngIf="view == 'login'" class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">

        <div class="mb-4">
          <a type="button" style="text-decoration: none;" routerLink="/#"><i class="fa fa-reply fa-lg text-danger pr-1"></i><span class="text-danger"><b>Home</b></span></a>
        </div>

        <div class="logo">
          <a href="/#">
          <img src="../../../assets/images/logo2.png" alt="Logo">
        </a>
        </div>
        <div class="heading mb-4">
          <h3>User Login</h3>
        </div>
        <form [formGroup]="userLoginDetails">
          <div class="form-input form-group mb-3">
            <span><i class="fa fa-user fa-lg"></i></span>
            <input type="text" id="username" name="emailId" formControlName="emailId" placeholder="Email">
            <div *ngIf="userLoginDetails.controls.emailId.invalid && userLoginDetails.controls.emailId.touched"
              class="mt-0 text-danger">Email field can't be empty</div>
          </div>
          <div class="form-input form-group mb-3">
            <span><i class="fa fa-lock fa-lg"></i></span>
            <input type="password" id="password" name="password" formControlName="password" placeholder="Password">
            <div *ngIf="userLoginDetails.controls.password.invalid && userLoginDetails.controls.password.touched"
              class="mt-0 text-danger">Password field can't be empty</div>
          </div>

          <div *ngIf="invalid" class="alert alert-danger">
            <div class="text-danger">Invalid credentials.</div>
          </div>

          <div class="text-center">
            <button class="btn btn-success mx-2 float-sm-left" style="width: 150px;"
              [disabled]="userLoginDetails.invalid" (click)="authenticateUser()">Login</button>

            <button class="btn btn-dark mx-2 float-sm-right" routerLink="/adminLogin"
              routerLinkActive="router-link-active">Login as Admin</button>
          </div>
        </form>

        <div class="alert text-center mt-2 mb-0">
          <a *ngIf=!forgotbool routerLink="/userLogin" (click)="forgot()" routerLinkActive="router-link-active">Forgot
            Password ?</a>
        </div>

        <div class="alert alert-success mt-2">
          Don't have an account ? <a routerLink="/userRegister" routerLinkActive="router-link-active">Register</a>
        </div>



      </div>

      <!-- Forgot Password  -->

      <div *ngIf="view == 'forgot'" class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x text-dark"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              <p>You can reset your password here.</p>
              <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off">

                  <div class="form-group form-input mb-1">
                    <span><i class="fa fa-envelope"></i></span>
                    <input type="email" id="email" name="email" [(ngModel)]="email"
                      placeholder="Enter regsitered Email" [disabled]="disableEmail">
                  </div>
                  <div *ngIf=otpbool class="text-success">
                    An OTP is sent to your Email
                  </div>
                  <div *ngIf=otpbool class="form-group form-input mt-2">
                    <span><i class="fa fa-key"></i></span>
                    <input type="text" [(ngModel)]="otpenter" id="otp" name="otp" placeholder="Enter OTP">
                  </div>
                  <div *ngIf=otpboolw class="alert alert-danger">
                    <div class="text-danger">
                      Please Enter Correct OTP
                    </div>
                  </div>

                  <div *ngIf=passbool class="form-group form-input mt-2">
                    <span><i class="fa fa-unlock"></i></span>
                    <input type="password" [(ngModel)]="pass" id="pass" name="pass" placeholder="Enter new Password">
                  </div>


                  <div *ngIf=forgotbool class="form-group mt-3">
                    <button class="btn btn-lg btn-block btn-primary" (click)="otpgen()">Reset Password</button>
                  </div>

                  <div *ngIf=notregisterbool class="form-group mt-3">
                    <div class="text-success">
                      You Are Not Registered With us
                    </div>
                    <button class="btn btn-lg btn-block btn-danger" routerLink="/userRegister" routerLinkActive="router-link-active">Register Here</button>
                  </div>

                  <div *ngIf=otpbool class="form-group mt-3">
                    <button class="btn btn-lg btn-block btn-primary" (click)="otpsubmit()">Submit</button>
                  </div>
                  <div *ngIf=passbool class="form-group mt-3">
                    <button class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#saved" (click)="passsubmit()">Submit</button>
                  </div>
                </form>


                <div
                class="modal fade"
                id="saved"
                tabindex="-1"
                role="dialog"
                aria-labelledby="savedDetails"
                aria-hidden="true"
                >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="appDetails">Password Reset Status</h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        routerLink="/userDashboard/uploadDocuments"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div *ngIf="!passchanged" class="modal-body text-success">
                      <div class="spinner-border text-success spinner-border-sm" role="status">
                        <span  class="sr-only">Loading...</span>
                      </div>
                      Processing
                    </div>
                    <div *ngIf="passchanged" class="modal-body text-success">
                      <h3>Password changed Successfully</h3><br>
                      <small class="text-dark">Please Login with New Credentials</small>
                    </div>
                    <div  class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="view = 'login'"
                        data-dismiss="modal"
                      >
                        Login
                      </button>
                      </div>
                  </div>
                </div>
              </div>


              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
      <!-- Image -->
    </div>
  </div>
</div>
